In [16]:
import pandas as pd
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv

In [6]:
print(os.getcwd())

d:\User\Documents\UAO\6_Semestre\ETL\Workshop_001\notebooks

In [9]:
# Construye la ruta al archivo CSV
csv_path = os.path.join(os.getcwd(), '../data/candidates.csv')

# Leer el CSV
df = pd.read_csv(csv_path, sep=';')

In [10]:
df.head()

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

In [23]:
dotenv_path = os.path.join(os.getcwd(), '../credentials.env')
load_dotenv(dotenv_path=dotenv_path)

True

In [24]:
print(os.getenv("DBMS"))

postgresql

In [25]:
#print(os.getenv("HOST"))
host=os.getenv("HOST")
user=os.getenv("USER")
password=os.getenv("PASSWORD")
port=os.getenv("PORT")
database=os.getenv("DATABASE")
dbms=os.getenv("DBMS")
# Conectar a PostgreSQL
engine = create_engine(f'{dbms}://{user}:{password}@{host}:{port}/{database}')

In [26]:
df.to_sql('raw_data_candidates', engine, if_exists='replace', index=False)

1000